#mainLogo, #christopherdleLogo {
  height: 7vh;
}

.navbar {
  padding: 1vh 1rem;
}

#christopherdle {
  width: 100vw;
  height: 91vh;
  display: grid;
  grid-template-rows: 55% 45%;
  place-items: center;
  user-select: none;
  font-family: Helvetica, sans-serif;
  font-weight: 750;
  position: absolute;
  top: 9vh;
}

#letters {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: .5vh;
  column-gap: .5vh;
}

.letter {
  border-style: solid;
  border-color: #787c7e;
  border-width: 0.2vh;
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter > p {
  margin: 0;
  font-size: 3.8vh;
  color: white;
}

.kRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyboard {
  place-self: normal;
}

.key {
  background-color: #787c7e;
  width: auto;
  min-width: 4.5vh;
  height: 9vh;
  display: grid;
  place-items: center;
  margin: 0.5vh 0.5vw;
  border-radius: .5vh;
}

.key > p {
  margin: 0;
  font-size: 2vh;
  color: white;
}

#ENTER > p {
  font-size: 1.5vh;
  padding: 0 1vh;
}

#DELETE > p {
  padding: 0 1.1vh;
  font-size: 3.5vh;
}

.wrong {
  background-color: #3a3a3c;
}

.misplaced {
  background-color: #b59f3a;
}

.correct {
  background-color: #538d4e;
}

.wrong, .misplaced, .correct {
  border-width: 0;
}

#result {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(1.3vmin) brightness(60%);
  -webkit-backdrop-filter: blur(1.3vmin) brightness(60%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: min(90%, 60vh);
  height: 80%;
  background-color: var(--navy);
  border-radius: 1.5vh;
  box-shadow: 0 .7vh 1.4vh rgb(0 0 0 / 50%);
  text-align: center;
  position: relative;
  bottom: 4vh;
}

#container p {
  color: white;
  font-family: "Verdana";
  font-weight: normal;
  font-size: 2.1vh;
}

.hide {
  display: none !important;
}

#results {
  padding: 3.3vh 2.5vh;
}

#bottom {
  padding-top: 4vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

#bottom > div > p {
  margin: 0;
}

#timer {
  border-right: solid white;
  border-width: .3vh;
}

.button {
  background-color: white;
  padding: 1vh 2vh;
  width: fit-content;
  height: fit-content;
  place-self: center;
  border-radius: 1vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vh;
}

.button > p { 
  color: black !important;
  margin: 0;
  font-size: 110% !important;
  font-family: "Helvetica" !important;
  font-weight: 750 !important;
  letter-spacing: .08em;
}

.button > i {
  font-size: 150%;
}

.button:hover {
  width: 72%;
  height: 92%;
  color: black;
  text-decoration: none;
}

.contact {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#modal-alert {
  background-color: var(--red);
  width: fit-content;
  padding: 0 4vw;
  font-size: 5vh;
  color: var(--navy);
  height: 8vh;
  position: absolute;
  top: 16vh;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-alert > p {
  margin: 0;
  padding: 0;
  height: fit-content;
  color: white;
}

#close {
  position: absolute;
  color: white;
  top: 1vh;
  right: 1vh;
  font-size: 3.5vh;
  cursor: pointer;
}

#share {
  color: white;
  position: relative;
  bottom: 80vh;
  left: 23vh;
  font-size: 5vh;
  cursor: pointer;
}

#contact {
  display: none;
}


@media (orientation: portrait) {
  .key {
    min-width: 9vw;
  }

  #ENTER > p {
    padding: 0 3vw;
  }

  #DELETE > p {
    padding: 0 2.5vw;
  }

}