* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .main-heading, .carousel, .carousel-inner, .carousel-caption, .portrait, .col {
    align-items: left;
    justify-content: center;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

section {
  padding: 40px;
}

a {
  color: #f7fff7;
}

a:hover {
  color: #f7fff7;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #f7fff7;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
}

p {
  font-size: 19px;
  font-weight: lighter;
}

hr {
  border-bottom: none;
  border-color: #daa520;
  border-width: 5px;
  margin: 25px auto;
  max-width: 100px;
  width: 100px;
}

#home-carousel,
#service-carousel,
#join-carousel,
#media {
  margin-top: 20px;
  height: 100vh;
  width: 100vw;
}

.btn {
  background-color: #0a2463;
  color: #f7fff7;
  font-size: 18px;
  margin-bottom: 50px;
}

.btn:hover {
  background-color: #f7fff7;
  color: #0a2463;
}

.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

/***** NAVIGATION BAR *****/

.navbar-dark,
.bg-dark {
  background-color: #0a2463 !important;
  color: #f7fff7;
  margin-bottom: 0px;
}

/***** END NAVIGATION BAR *****/

/***** HOME PAGE *****/
header {
  background-color: black;
  height: calc(100vh - 60px) !important;
}

.overlay {
  background-color: black;
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.carousel,
.carousel-item,
.active {
  height: 100%;
}

.fill {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel,
.carousel-inner {
  display: block;
  height: 100%;
  overflow: hidden;
  transition: none;
  width: 100%;
  z-index: 0;
}

.carousel-fade .carousel-inner .carousel-item {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-control-prev,
.carousel-fade .carousel-control-next {
  z-index: 2;
}

.full-width {
  width: 100vw;
}

.main-heading {
  color: #f7fff7;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 10px;
}

.small-heading {
  color: #f7fff7;
  font-size: 30px;
  font-weight: lighter;
}

.title {
  color: #f7fff7;
  font-size: 40px;
}

.carousel-caption {
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
}

/***** END HOME PAGE *****/

/***** OUR PLATFORM *****/
.aboutUs {
  background-color: #0a2463;
  left: 0;
  position: relative;
  top: 0;
}

.block-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.pillars {
  background-color: #0a2463;
  margin-top: 0px;
  padding-bottom: 60px !important;
  text-align: center;
}

.pillars i {
  background-color: #0a2463;
  border-radius: 65%;
  color: #f7fff7;
  height: 80px;
  width: 80px;
}

.pillar-titles {
  font-style: italic;
  font-size: 25px;
  padding: 10px;
}

.pillar-text {
  font-size: 20px;
}

.explore {
  background-color: #0a2463;
}

.explore h1 {
  padding-top: 30px;
}

.explore .carousel-caption {
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.5))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 40%
  );
  bottom: 0px;
  left: 0 !important;
  right: 0 !important;
}

.nopadding .fa {
  font-size: 90px;
}

.platform {
  background-color: #0a2463;
  padding: 50px 0;
  text-align: center;
}

.platform h1,
.platform h4,
.platform p {
  color: #f7fff7;
}

.platform img {
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* IE 9 */
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  height: 150px;
  margin-top: 40px;
  padding-bottom: 10px;
  padding-top: 20px;
  /* Opera */
  transition: all 1s ease;
}

.platform img:hover {
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}

.platform i {
  background-color: gray;
  border-radius: 50%;
  color: #;
  font-size: 17px;
  height: 30px;
  padding: 5px;
  width: 30px;
}

.platform i:hover {
  color: black;
}

@media (max-width: 768px) {
  .platform {
    padding: 30px;
  }
}

/***** END OUR PLATFORM *****/

/***** JOIN THE MOVEMENT *****/

.join {
  background-color: #181818;
  overflow: auto;
  padding: 30px;
  padding-bottom: 100px;
}

.fill2 {
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
}

.join img {
  max-height: 300px;
  max-width: 300px;
  padding-bottom: 30px;
  padding-bottom: 30px;
}

.join h1 {
  color: #f7fff7;
}

.join p {
  text-align: left;
}

.join .col-md-6,
.join .col-lg-6 {
  padding-left: 50px;
  padding-right: 50px;
}

.join .packages {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
  padding: 30px;
}

.join .row-1 {
  background-color: black;
}

.join .row-2 {
  background-color: #080808;
}

.join .left-side {
  padding: 50px 50px 50px 30px;
}

.join .right-side {
  padding: 50px 30px 50px 50px;
}

@media (max-width: 768px) {
  .join-home .main-heading {
    color: #f7fff7;
    font-size: 36px;
    letter-spacing: 0px;
  }

  .join h3 {
    font-size: 20px;
  }

  .join .left-side,
  .join .right-side {
    padding: 20px;
  }

  .join .col-md-6,
  .join .col-lg-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/***** END JOIN THE MOVEMENT *****/

/******* FOOTER ********/

.contact {
  background-color: #0a2463;
  color: #cccccc;
  padding: 30px;
}

.credits {
  text-align: right;
  padding-top: 50px;
}

.credits a {
  color: #e49273;
}

/***** END FOOTER *****/
