#wordle {
  width: 100vw;
  height: 80vh;
  margin: 0;
  padding-top: 15vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  user-select: none;
}

#letters {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 1vh;
  column-gap: 1vh;
}

#keyboard {
  padding-top: 3vh;
}

.letter {
  border-style: solid;
  border-color: black;
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter > p {
  margin: 0;
  font-size: 5vh;
  color: black;
}

.kRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  background-color: lightgray;
  width: auto;
  min-width: 4vh;
  height: 6vh;
  display: grid;
  place-items: center;
  margin: 0.5vh 0.5vw;
  padding-right: 0.5vh;
  padding-left: 0.5vh;
  border-radius: 1vh;
}

.key > p {
  margin: 0;
  font-size: 3vh;
  color: black;
}

#ENTER > p {
  font-size: 2.5vh;
}

#DELETE > p {
  padding-right: 1.1vh;
  padding-left: 1.1vh;
}

.wrong {
  background-color: gray;
}

.misplaced {
  background-color: yellow;
}

.correct {
  background-color: green;
}

#result {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding-top: 10vh;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(1.3vmin) brightness(85%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: min(90%, 60vh);
  height: 90%;
  background-color: rgb(0, 0, 40);
  border-radius: 4vh;
  box-shadow: 0 .7vh 1.4vh rgb(0 0 0 / 50%);
  text-align: center;
  padding-top: 1vh;
}

.hide {
  display: none !important;
}

canvas {
  box-shadow: 0 0 80vh white;
}

#results {
  padding: 1.5vh 2vh 0.1vh;
}

#bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

#bottom > div > p {
  margin: 0;
}

#timer {
  border-right: solid white;
}

.button {
  background-color: white;
  width: 70%;
  height: 90%;
  place-self: center;
  border-radius: 1vh;
  color: black;
}

.button:hover {
  width: 72%;
  height: 92%;
  color: black;
  text-decoration: none;
}

.contact {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
